##########################################
# ROOT
##########################################

# Ignore all files and folders in root
/*

# Include desired files in root
!.gitignore
!.gitlab-ci.yml
!.deployignore
!.gitattributes
!CHANGELOG.md
!README.md

# Include .gitlab folder (for MR templates and issue templates in the future)
!.gitlab/

# Include wp-content folder... (so that we can include sub-folders of it)
!wp-content/

# But exclude everything in wp-content folder
wp-content/*



##########################################
# EDITOR
##########################################

# Include VS Code settings to share with other devs
!.vscode/



##########################################
# THEME
##########################################

# Include the themes folder...
!wp-content/themes/

# But exclude everything in themes folder... (so that we can include only specific sub-folders of it)
wp-content/themes/*

# Include the theme folder and all its files and sub-folders
!wp-content/themes/yoav-cato-template/



##########################################
# PLUGINS
# Uncomment lines below to include specific plugins.
# In general, don't store external plugins in the repository, unless it's a custom plugin/version.
##########################################

# Include the plugins folder...
# !wp-content/plugins/

# But exclude everything in plugins folder... (so that we can include only specific sub-folders of it)
# wp-content/plugins/*

# Include specific plugins and all its files and sub-folders
# !wp-content/plugins/advanced-custom-fields-pro/
# Include .github
!.github/
