@media (min-width: 324px) and (max-width: 1000px) {

    header{

        .special_button{
                .release_note{
                    display: none;
                }
            }
        .logo{
            img{
                height: 24px;
            }
        }
        .nav_container {
            display: none;
        }

        



    }

}